<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index All cities</title>
</head>
<body >

<h3> Please select cities: </h3>
<form class="ui form" th:method="POST" th:action="@{/selectedCities}" th:object="${cities}">
    <tr th:each="currentCity, stat : ${cities}">
        <div class="ui checkbox">
            <input type="checkbox" name="cityIndexes"
                   th:label="${currentCity.getName()}"
                   th:value="${currentCity.getId()}">

            <label th:text="${currentCity.getName()}" ></label>
        </div>
    </tr>
<p></p>
    <div class="field">
        <button type="submit" >Submit</button>
    </div>
</form>

</body>
</html>