<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selected Cities Order</title>
</head>
<body>

<h3>Selected cities: </h3>

<div th:each="weather : ${weatherFromSelectedCities}">
    <div>
        <div class="main"><p class="mains" th:text="${weather.getMain()}"></p></div>
        <div class="main"><p class="mains" th:text="${weather.getDescription()}"></p></div>
        <div class="main"><p class="mains" th:text="${weather.getTemperature()}"></p></div>
    </div>
</div>


</body>
</html>